AVDOMAIN="{{ carbonio_domain }}"
AVUSER="zextras@{{ carbonio_domain }}"
CREATEADMIN="zextras@{{ carbonio_domain }}"
CREATEDOMAIN="{{ carbonio_domain }}"
CREATEADMINPASS="{{ carbonio_zextras_password }}"
DOCREATEADMIN="yes"
DOCREATEDOMAIN="yes"
DOTRAINSA="yes"
ENABLEGALSYNCACCOUNTS="yes"
EXPANDMENU="no"
HOSTNAME="{{ carbonio_hostname }}.{{ carbonio_domain }}"
HTTPPORT="8080"
HTTPPROXY="TRUE"
HTTPPROXYPORT="80"
HTTPSPORT="8443"
HTTPSPROXYPORT="443"
IMAPPORT="7143"
IMAPPROXYPORT="143"
IMAPSSLPORT="7993"
IMAPSSLPROXYPORT="993"
JAVAHOME="/opt/zextras/common/lib/jvm/java"
LDAPAMAVISPASS="{{ carbonio_zextras_password }}"
LDAPPOSTPASS="{{ carbonio_zextras_password }}"
LDAPROOTPASS="{{ carbonio_zextras_password }}"
LDAPADMINPASS="{{ carbonio_zextras_password }}"
LDAPREPPASS="{{ carbonio_zextras_password }}"
LDAPDEFAULTSLOADED="1"
LDAPHOST="{{ carbonio_hostname }}.{{ carbonio_domain }}"
LDAPPORT="389"
LDAPREPLICATIONTYPE="master"
LDAPSERVERID="2"
MAILBOXDMEMORY="1996"
MAILPROXY="TRUE"
MODE="http"
MYSQLMEMORYPERCENT="30"
POPPORT="7110"
POPPROXYPORT="110"
POPSSLPORT="7995"
POPSSLPROXYPORT="995"
PROXYMODE="https"
REMOTEIMAPBINDPORT="8143"
REMOTEIMAPSSLBINDPORT="8993"
REMOVE="no"
RUNAV="yes"
RUNCBPOLICYD="no"
RUNDKIM="yes"
RUNSA="yes"
SERVICEWEBAPP="yes"
SMTPDEST="zextras@{{ carbonio_domain }}"
SMTPHOST="{{ carbonio_hostname }}.{{ carbonio_domain }}"
SMTPSOURCE="zextras@{{ carbonio_domain }}"
STARTSERVERS="yes"
STRICTSERVERNAMEENABLED="TRUE"
SYSTEMMEMORY="7.8"
TRAINSAHAM="ham.9eutt1cj@{{ carbonio_domain }}"
TRAINSASPAM="spam.cufax8vng@{{ carbonio_domain }}"
UIWEBAPPS="yes"
UPGRADE="yes"
USEKBSHORTCUTS="TRUE"
VIRUSQUARANTINE="virus-quarantine.plc7f_6p@{{ carbonio_domain }}"
ZIMBRA_REQ_SECURITY="no"
ldap_bes_searcher_password="{{ carbonio_zextras_password }}"
ldap_dit_base_dn_config="cn=zimbra"
ldap_nginx_password="{{ carbonio_zextras_password }}"
mailboxd_directory="/opt/zextras/mailboxd"
mailboxd_keystore="/opt/zextras/mailboxd/etc/keystore"
mailboxd_keystore_password="{{ carbonio_zextras_password }}"
mailboxd_server="jetty"
mailboxd_truststore="/opt/zextras/common/lib/jvm/java/lib/security/cacerts"
mailboxd_truststore_password="changeit"
postfix_mail_owner="postfix"
postfix_setgid_group="postdrop"
ssl_default_digest="sha256"
zimbraDNSMasterIP="8.8.8.8"
zimbraDNSTCPUpstream="no"
zimbraDNSUseTCP="yes"
zimbraDNSUseUDP="yes"
zimbraDefaultDomainName="{{ carbonio_domain }}"
zimbraIPMode="ipv4"
zimbraMailProxy="TRUE"
zimbraMtaMyNetworks="127.0.0.0/8 10.0.2.0/24 {{ carbonio_zextras_network }}"
zimbraPrefTimeZoneId="{{ carbonio_timezone }}"
zimbraReverseProxyLookupTarget="TRUE"
zimbraWebProxy="TRUE"
zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
zimbra_require_interprocess_security="0"
INSTALL_PACKAGES="carbonio-core carbonio-directory-server carbonio-logger carbonio-mta carbonio-appserver carbonio-memcached carbonio-proxy "